// image-url arguments:
// $path: path relative to images directory in config.rb
// $path-only: if true, will cause only the path to be returned instead of a `url()` function
// $cache-buster: When set to `false` no cache buster will be used (i.e. `?313420982`)
$header-img: url('./bread.jpg');
$choosePlatform-img: url('./../images/benefits-bg.svg');
$priceBG-img: url('./../images/price.png');
$defaultBoxShadow: 0 0 5px 5px #ddd;

.slider-im {
  background-image: $header-img;
  height: 450px;
}

.slider-box-title {
  line-height: 350px;
}

.choose-platform-body {
  margin-top: 20px;
  background-image: $choosePlatform-img;
  background-repeat: no-repeat;
  margin-top: 100px;

  .choose-platform-body-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .choose-card {
    box-shadow: $defaultBoxShadow;
    margin-bottom: 15px;


    .card-img {
      margin: 5px;
      width: 50px;
      height: 50px;
      float: left;
      display: block;
    }

    .card-img-details {
      display: block;
      width: 90%;
      float: left;
      text-align: left;

      .card-img-details-heading {
        margin: 5px;
        text-transform: capitalize;
      }

      .card-img-details-para {
        margin: 5px;
      }
    }

  }


}

.choose-card-no-sadow {
  border: none;
  text-align: left;
  margin: 40px;
  margin-top: 0px;
}

.deliver-best-container {
  text-align: left;

  .deliver-best-container-body {
    .deliver-best-left {
      margin-top: 100px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      width: 100%;

    }

    img {
      float: left;
    }

    p {
      margin: 2px;
      margin-bottom: 15px;
      margin-left: 35px;
    }

  }
}

.custom-cv-card {
  box-shadow: $defaultBoxShadow;

  img {
    width: 250px;
  }

  h3 {
    line-height: 180px;
  }

  .request-a-demo-btn {
    line-height: 180px;
  }
}

.price-card {
  background-image: $priceBG-img;
  background-repeat: no-repeat;
  background-position: right -10px;

}
.price-number {
  color: #fff;
  text-align: right;
  margin-bottom: 50px;
}

.monthly-pack-details {
  h3 {
    text-align: left;
  }
  p{
    text-align: left;
  }

  Button{
    margin-top: 30px;
    margin-bottom: 20px;
  }
}